.about {
    height: fit-content;
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}

.container {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin: 0px 20px 30px 20px;
}

.link-container {
    margin: 20px 0px 20px 0px; /* top right bottom left */
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.email {
    margin-top: -0.5rem;
    margin-left: -0.75rem;
}

@media screen and (width <= 830px) {
    .container {
        flex-direction: column;
    }
    .about {
        display: inline-block;
    }
}

@media screen and (width <= 410px) {
    .pic {
        height: 300px;
        width: 225px;
    }
}
