.card {
    background-color: #e9edc9;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10%; /* include or no? */
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.6s ease;
    box-shadow: 5px 5px 2px 1px rgb(76, 54, 14);
}

.title {
    text-align: center;
    padding: 20px 15px 10px 15px;
    font-size: 30px;
    font-weight: 900;
}

.subtitle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
}

.desc {
    background-color: #ccd5ae;  /* include or no? */
    height: 150px;
    width: 550px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    overflow-y: auto;
}

.links {
    display: flex;
    grid-template-columns: auto;
    column-gap: 3rem;
    margin: 15px;
}

.depl {
    display: inline;
}

.hidden {
    display: none;
}

@media screen and (width <= 1232px) {
    .card {
        width: 80%;
        margin: 0 auto;
    }

    .desc {
        width: 75%;
    }

    .img {
        width: 75%;
    }
}

@media screen and (width <= 500px) {
    .card {
        height: 30%;
    }

    .img {
        display: none;
    }
}