.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: 	#fefae0;
    margin-bottom: 20px;
}

.page {
    padding: 20px;
    color: black;
    text-decoration: none;
}

.selected {
    padding: 20px 40px 0px 40px;
    color: black;
    background-color: #faedcd;
    border-radius: 10px 10px 0px 0px; /* top-left top-right bottom-right bottom-left*/
    text-decoration: none;
}

@media screen and (width < 411px) {
    .selected {
        padding: 20px;
    }
}